name: Test React App
on: push
jobs: 
  build: 
    runs-on: ubuntu-latest
    steps:
      - name: Get repository code
        uses: actions/checkout@v4
      - name: Install dependencies
        run: npm i
      - name: Build app
        run: npm run build
      - name: Deploy
        run: echo Deploy
